DJANGO_DEBUG=True
DJANGO_SECRET_KEY=change-this-secret-key
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,24bia057.pythonanywhere.com

ADMIN_API_KEY=change-this-admin-key

DATABASE_URL=sqlite:///db.sqlite3

CORS_ALLOWED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,https://24bia057.pythonanywhere.com
CSRF_TRUSTED_ORIGINS=https://24bia057.pythonanywhere.com

DJANGO_SECURE_SSL_REDIRECT=False
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True
